<!DOCTYPE html>
<html>
<head>
  <title>ChosenAutoAdd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>

<%= yield %>

</body>
<!--chosen-->
		<link href="/my/css/chosen.min.css" rel="stylesheet"/>
		<script src="/my/js/chosen.jquery.min.js"></script>
		<script src="/my/js/chosen.proto.min.js"></script>
</html>
